<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Spells</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spells</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="m-4 tablet:m-8">
    <ion-searchbar [(ngModel)]="searchInput" class="py-0 custom-searchbar mb-8" mode="ios" placeholder="Search"/>

    <div class="space-y-4">
      @if(filteredSpells().length <= 0) {
        <!--TODO: terminer de styliser et peut être remplacer par une div / span ?-->
        <p class="bg-amber-50 rounded p-2 font-semibold ">Pas de sort correspondant :/</p>
      }
      @for(spell of filteredSpells(); track spell.id) {
        <app-spell-card [spell]="spell"/>
      }
    </div>


  </div>

</ion-content>
